<%= render 'user_info', user: current_user, book: @book %>
<% @users.each do |user| %>
  <div>
    <p><%= user.name %></p>
    <p><%= link_to "show", user_path(user) %></p>
  </div>
<% end %>
<tbody><tr></tr>
  <tr>
	  <th>name</th>
	  <th>111111</th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th></th>
  </tr>
</tbody>
