<%= render 'users/user_info', user: current_user, book: @book %>


<% @books.each do |book| %>
  <br>
  <p><%= link_to book.title, book_path(book) %></p>
  <%=  %>
  <br>
  <%= book.opinion %>
  <br>
<% end %>